body{
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	display: block;
}

#page{
	width: 97%;
	margin: auto;
}

.rects{
	width: 20%;
	height: 80%;
	text-align: center;
	float: left;
}

.arrows{
	width: 6.65%;
	height: 80%;
	float: left;
}

.thing{
	max-height: 20%;
	min-height: 15%;
	border: solid lightgray 1px;
	border-radius: 10px;
	margin-top: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-left: 35%;
}

textarea {
	width: 90%;
	height: 19%;
}

#updateGetClients {
	vertical-align: top;
	width: 9%;
	height: 19%;
}

div.green{
	border: green solid 1px;
}

div.yellow{
	border: gold solid 1px;
}

div.error{
	border: firebrick solid 1px;
}

div.transparent{
	opacity: 50%;
}

h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}