<style type="text/css">
	@import url(pages/telecommande/telecommande.css);
</style>
<div ng-controller="TelecommandeCtrl">
	<h1>Télécommande</h1>

	<h2>GR</h2>
	<button type="button" class="btn" ng-click="grAcheter()">Acheter</button> 
	<button type="button" class="btn" ng-click="grVendre()">Vendre</button> <br><br>
	G <input type="number" ng-model="gr_pwm_gauche" />
	D <input type="number" ng-model="gr_pwm_droite" />
	<input type="number" ng-model="gr_pwm_ms" /> ms
	<button type="button" class="btn" ng-click="grPWM()">PWM</button><br><br>
	<button type="button" class="btn" ng-click="grScript()">Script</button> <br><br>
<!-- 
	<h2>Hokuyo</h2>
	Nb robots :
	<select id="rc_hok_nbrobots">
		<option value="4" default>4</option>
		<option value="3">3</option>
		<option value="2">2</option>
		<option value="1">1 (test)</option>
	</select>
	Couleur :
	<select id="rc_hok_color">
		<option value="green" selected>vert</option>
		<option value="yellow">jaune</option>
	</select>
	<button type="button" class="btn" id="rc_hok_start">start</button>
	 <button type="button" class="btn" id="rc_hok_stop">stop</button>

	<h2>PR</h2>
	Numéro servo :
	<select id="rc_pr_numservo">
		<option value="0" default>0</option>
		<option value="1" default>1</option>
	<!-	<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option> ->
	</select> <br>
	Position servo : 
	<input type="range" id="rc_pr_pos" min="0" max="1" step="0.0009765" value="{{rc_pr_pos_value}}" ng-model="rc_pr_pos_value" ng-change="updatePosValue(rc_pr_pos_value)">
	{{ rc_pr_pos_value }} <br><br>
	
	<table class="table" style="width: auto;">
		<tr>
			<td>
				Gauche :
			</td>
			<td>
				<input type="text"  class="form-control" ng-model="rc_pr_servo1_min" title="Min (de 0 à 180°)" value="63">
			</td>
			<td>
				<input type="text"  class="form-control" ng-model="rc_pr_servo1_max" title="Max (de 0 à 180°)" value="90">
			</td>
		</tr>
		<tr>
			<td>
				Droit :
			</td>
			<td>
				<input type="text"  class="form-control" ng-model="rc_pr_servo2_min" title="Min (de 0 à 180°)" value="63">
			</td>
			<td>
				<input type="text"  class="form-control" ng-model="rc_pr_servo2_max" title="Max (de 0 à 180°)" value="90">
			</td>
		</tr>
		<tr>
			<td>
				Action personnalisée
			</td>
			<td>
				<button type="button" class="btn" id="rc_pr_close" ng-click="prServoClose1(rc_pr_servo1_min, rc_pr_servo2_min)">Fermer</button>
			</td>
			<td>
				<button type="button" class="btn" id="rc_pr_open" ng-click="prServoOpen1(rc_pr_servo1_max, rc_pr_servo2_max)">Ouvrir</button>
			</td>
		</tr>
		<tr>
			<td>
				Action standard
			</td>
			<td>
				<button type="button" class="btn" id="rc_pr_close" ng-click="prServoClose2()">Fermer</button>
			</td>
			<td>
				<button type="button" class="btn" id="rc_pr_open" ng-click="prServoOpen2()">Ouvrir</button>
			</td>
		</tr>
	</table>
	<hr>

	Position AX-12 : <input type="number" min="0" max="1023" step="5" class="form-control" id="rc_pr_AX12_pos" value="{{rc_pr_AX12_pos}}" ng-model="rc_pr_AX12_pos" ng-change="updateAX12PosValue(rc_pr_AX12_pos)">
	<button type="button" class="btn" id="rc_pr_AX12_close" ng-click="prAX12Close()">Fermer</button>
	<button type="button" class="btn" id="rc_pr_AX12_open" ng-click="prAX12Open()">Ouvrir</button>
	<hr>
	Position pas-à-pas : <input type="number" step="10" class="form-control" id="rc_pr_steppers_move" value="{{rc_pr_steppers_move}}" ng-model="rc_pr_steppers_move" ng-change="updateSteppersMoveValue(rc_pr_steppers_move)">
	<button type="button" class="btn" id="rc_pr_steppers_set_bottom" ng-click="prSteppersSetBottom()">Définir la position basse</button>
	<button type="button" class="btn" id="rc_pr_steppers_toogle" ng-click="prSteppersToogle()">Changer de position</button>
	<br><br>-->
</div>
